[Unit]
Description=Run GOES Full Disk web publisher periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=update-goes-fd-web.service

[Install]
WantedBy=timers.target
