[Unit]
Description=Run GOES-19 Full Disk web publisher periodically

[Timer]
OnBootSec=90
OnUnitActiveSec=60
Persistent=true

[Install]
WantedBy=timers.target
